#top-header {
  height: 400px;
  width: 100%;
  background-color: orange;
  background-image: url("/images/asfalt-dark.png");
}

#cenImage {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  width: 20%;
}

#cenText {
  padding-left: 41%;
}
