@media only screen and (max-width: 960px) {
  nav {
    display : flex;
    justify-content: space-between;
    align-items:center;
    height: 120px;
    width: 100%;
    top: 0px;
    z-index: 1;
    background-color: orange;
    background-image: url("/images/asfalt-dark.png");
    color: #FFFFFF;
    font-size: 1em;
  }
  
  span {
    font-family: Bungee;
  }

  #nav-right-box {
    flex-direction:column;
  }
  
  #reset-word, #nav-icon {
    width: 10%;
    font-family: Source Sans Pro;
  }
  
  #nav-icon {
    margin-left: 45%;
    color: red;
  }
}

@media only screen and (min-width: 961px) {
  nav {
    display : flex;
    justify-content: space-between;
    align-items:center;
    height: 120px;
    width: 100%;
    top: 0px;
    z-index: 1;
    background-color: #4056A1;
    color: #FFFFFF;
  }
  
  span {
    font-family: Bungee;
  }
  
  #nav-right-box {
    flex-direction:column;
  }

  
  #reset-word, #nav-icon {
    width: 200px;
    font-family: Source Sans Pro;

  }
  
  #nav-icon {
    margin-left: 45%;
    color: red;
  }
}