@media only screen and (max-width: 960px) {
  #new-tweet-container {
    display: flex;
    flex-direction: column;
  }
  
  textarea {
    height: 50px;
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    background-color: #f4f1ec;
    font-size: 24px;
    font-family: Source Sans Pro;
    font-weight: bold;
    border: none;
    border-bottom: 5px solid black;
  }
  
  input {
    background-color: #4056A1;
    color: #FFFFFF;
    font-family: Bungee;
    border: none;
  }
  
  #new-tweet, #tweet-warning-long, #tweet-warning-short {
    display: none;
  }
  
  #tweet-warning-long, #tweet-warning-short  {
    color: red;
    border: 5px solid red;
    width : 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 961px) {

  #new-tweet-container {
    display: flex;
    flex-direction: column;
  }

  textarea {
    height: 50px;
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    background-color: #f4f1ec;
    font-size: 24px;
    font-family: Source Sans Pro;
    font-weight: bold;
    border: none;
    border-bottom: 5px solid black;
  }
  
  input {
    background-color: #4056A1;
    color: #FFFFFF;
    font-family: Bungee;
    border: none;
    margin-left:5%;
  }

  .counter {
    margin-right: 5%;
  }

  #new-tweet-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #new-tweet, #tweet-warning-long, #tweet-warning-short {
    display: none;
  }
  
  #tweet-warning-long, #tweet-warning-short  {
    color: red;
    border: 5px solid red;
    width : 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
